<div
  [ngClass]="{'map-item--completed': map.completed, 'map-item--editing': editing}"
  class="map-item"
  tabindex="0">

  <div class="cell">
    <button
      *ngIf="!editing"
      (click)="toggleStatus()"
      aria-label="Mark map as completed"
      class="map-item__button"
      type="button">
      <span class="icon material-icons" [ngClass]="{'icon--active': map.completed}">done</span>
    </button>
  </div>

  <div class="cell">
    <div
      *ngIf="!editing"
      [routerLink]="['map', map.$key]"
      class="map-item__title"
      tabindex="0">
      {{ map.title }}
      {{ map.$key }}
    </div>

    <form class="map-form" *ngIf="editing" (ngSubmit)="saveTitle()" novalidate>
      <input
        [(ngModel)]="title"
        (blur)="stopEditing()"
        (keyup.escape)="stopEditing()"
        autocomplete="off"
        autoFocus
        class="map-item__input"
        name="title"
        type="text">
    </form>
  </div>

  <div class="cell">
    <button
      *ngIf="editing"
      (click)="stopEditing()"
      aria-label="Cancel editing"
      class="map-item__button"
      type="button">
      <span class="icon material-icons">&#xe14c;</span>
    </button>
    <button
      *ngIf="!editing"
      (click)="editTitle()"
      aria-label="Edit map title"
      class="map-item__button"
      type="button">
      <span class="icon material-icons">edit</span>
    </button>
    <button
      *ngIf="!editing"
      (click)="remove.emit()"
      aria-label="Delete map"
      class="map-item__button"
      type="button">
      <span class="icon material-icons">delete</span>
    </button>
  </div>
</div>
